Package: com.yourcompany.getserialnumber
Name: GetSerialNumber
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 高石磊
Author: 高石磊
Section: Tweaks
